<div class="b-img">
    <div class="b-container">
        <img src="../../../../assets/images/logo.png" alt="">
    </div>
</div>
<div class="b-menu">
        <nav class="b-nav">
            <a class="b-nav__link" routerLink="/home">Home</a>
            <a class="b-nav__link" routerLink="/characters">Characters</a>
            <a class="b-nav__link" routerLink="/locations">Locations</a>
            <a class="b-nav__link" routerLink="/episodes">Episodes</a>
            <a class="b-nav__link" routerLink="/about">About</a>
        </nav>
</div>