@import '../../../styles/colors';


.b-services{
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.b-row{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.b-services__box{
    font-family: 'roboto';
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 450px;
    border: 1px solid black;
    margin: 10px;
    align-items: center;
    text-align: justify;
    padding: 10px;
    border-radius: 15px;
    background: linear-gradient(to bottom, $colorTertiary 50%, white 50%);
    background-size: 100% 200%;
    transition: all .8s;
}
.b-services__box:hover{
    background-position: left bottom;
    color: rgba(255, 255, 255, 0);
    border: none;
    box-shadow: 0 0 20px rgb(7, 0, 0);
    background-image: url('../../../assets/images/rick.jpg');
    background-size: cover;
    
}