<section id="services" class="b-services">
    <div class="b-row">
        <div class="b-services__box">
            <h1 class="b-titleHome"> Justin Roiland</h1>
            <p>
                Mark Justin Roiland (born February 21, 1980)[2] is an American voice actor, animator, writer, producer, and director. He is best known as the co-creator of Adult Swim's Rick and Morty and its subsequent franchise, on which he voices the show's title characters Rick Sanchez and Morty Smith, and as the co-creator of Hulu's Solar Opposites, in which he voices the main character, Korvo. He has also played Earl of Lemongrab on Adventure Time and Blendin Blandin on Gravity Falls. 
            </p>
        </div>
        <div class="b-services__box">
            <h1 class="b-titleHome">Information</h1>
            <p>
                Rick and Morty is an American adult animated television series created by Justin Roiland and Dan Harmon in 2013 for Adult Swim. The series follows the misadventures of a scientist, Rick, and his easily influenced grandson, Morty, who spend their time between domestic life and space, time and space travel. Roiland voices Rick and Morty. The series also features the voices of Chris Parnell, Spencer Grammer and Sarah Chalke.
            </p>
        </div>
        <div class="b-services__box">
            <h1 class="b-titleHome">Dan Harmon</h1>
            <p>
                Dan Harmon (born 1973) is an American screenwriter and animator, co-creator of Rick and Morty and co-founder of Channel 101, a non-profit website to which participants submit a short film in TV pilot format of less than five minutes in length, and which serves as a platform for his creations and those of new comedians. All this without forgetting his essential weekly podcast, Harmontown, which is also the name of a documentary about the trajectory of this peculiar character. 
            </p>
        </div>

