@import '../../../styles/colors';

.b-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin: 2rem 0;
}
.b-card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    gap:2rem;
    margin: 1rem;
    max-width: 500px;
    width: 100%;
    padding: 2rem;
    border: 4px solid $colorPrimary;
    border-radius: 15px;
    background-image: url('../../../assets/images/teleSpace.png');
    background-size: cover;
    background-position: center;
   &__title{
    color:$colorWhite;
    text-shadow: 1px 1px 3px $colorBlack;
    font-family: 'roboto';
    font-size: 2rem;
    text-transform: capitalize;
    text-align: center;
    margin-top: 0;
   }
 &__video{
     width: 100%;
     margin: 0 auto;
 }
}
