/* You can add global styles to this file, and also import other style files */
@import "./styles/imports.scss";

body{
    background-image:url('./assets/images/cat2.jpg');
    background-size: cover;
    background-attachment: fixed;
}
